:root {
    --x-252525: rgba(37, 37, 37, 1);
    --main: rgba(250, 247, 242, 1);
    --f-2ebe-0: rgba(242, 235, 224, 1);
    --fe-7d-36: rgba(254, 125, 54, 1);
    --x-28-1b-18: rgba(40, 27, 24, 1);
  }
  